html{
    font-family: 'Lora', serif;
}
body{
    margin: 0;
}
.container-articolo{
    margin: 5px;
}
header{
    padding-top: 5%;
    background-repeat: repeat;
    background-size: 38%;
    background-image: url(../img/pattern.png);
    background-color: #4DA1FF;
}
#logo{
    width: 15%;
    padding-bottom: 1%;
    margin-left: 1%;
}
h1{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 2px;
    margin-top: 15px;
}
.credits-data{
    color: #888888;
}
#autore{
    color: #1AABE6;
}
#data{
    font-size: 12px;
}
.galleria{
    display: inline;
}
.galleria p{
    margin: 0;
    font-size: 12px;
}
.evidenziato{
    background-color: yellow;
}
ul{
    padding-left: 18px;
}
table{
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.tablehead{
    text-align: left;
    background-color: #1AABE6;
    color: white;
}
.blue-row{
    background-color: #B2E6F2;
}
.correlati{
    font-weight: bold;
    color: #888888;
}