html{
    font-family: 'Lora', serif;
}
body{
    margin: 0;
}
.container-articolo{
    margin: 5px;
}
header{
    padding-top: 5%;
    background-repeat: repeat;
    background-size: 38%;
    background-image: url(../img/pattern.png);
    background-color: #4DA1FF;
}
#logo{
    width: 15%;
    padding-bottom: 1%;
    margin-left: 1%;
}
h1{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 2px;
    margin-top: 15px;
}
.credits-data{
    color: #888888;
}
#autore{
    color: #1AABE6;
}
#data{
    font-size: 12px;
}
.galleria{
    margin-top: 10px;
}